# Compiled Python Files
*.py[co]

# Media Files
src/studies/*/media/


# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Log Files
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# IDEs
.project
.pydevproject
*.komodoproject
.idea

# Misc
*.DS_Store
